<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  none para constructor-->
    <!--    <bean id="userDao" class="com.luolg.dao.impl.UserDaoImpl"-->
    <!--          init-method="init" destroy-method="destroy"-->
    <!--          scope="singleton"/>-->

    <!--static factory-->
    <!--    <bean id="userDao" class="com.luolg.factory.StaticFactory"
    factory-method="getUserDao"/>-->

    <!--    dynamic factory-->
    <!--    <bean id="factory" class="com.luolg.factory.DynamicFactory"/>-->
    <!--    <bean id="userDao" factory-bean="factory" factory-method="getUserDao"/>-->

    <!--    service call dao with di/ioc-->
    <!--    way one-->
    <!--    <bean id="userDao" class="com.luolg.dao.impl.UserDaoImpl"/>-->
    <!--    <bean id="userService" class="com.luolg.service.impl.UserServiceImpl">-->
    <!--        <property name="userDao" ref="userDao">-->
    <!--        </property>-->
    <!--    </bean>-->

    <!--   way two user p namespace-->
    <!--    <bean id="userDao" class="com.luolg.dao.impl.UserDaoImpl"/>-->
    <!--    <bean id="userService" class="com.luolg.service.impl.UserServiceImpl" p:userDao-ref="userDao">-->
    <!--    </bean>-->

    <!--    way three with constructor-->

    <bean id="userDao" class="com.luolg.dao.impl.UserDaoImpl">
        <property name="username" value="luogang"/>
        <property name="age" value="22"/>
        <property name="stringList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <property name="userMap">
            <map>
                <entry key="user1" value-ref="user1">
                </entry>
                <entry key="user2" value-ref="user2">
                </entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>
    </bean>
    <bean id="userService" class="com.luolg.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao">
        </constructor-arg>
    </bean>
    <bean id="user1" class="com.luolg.domain.User">
        <property name="name" value="jack">
        </property>
        <property name="addr" value="shanghai">
        </property>
    </bean>
    <bean id="user2" class="com.luolg.domain.User">
        <property name="name" value="rose">
        </property>
        <property name="addr" value="taibei">
        </property>
    </bean>
    
    <import resource="applicationContext-user.xml"/>
    <import resource="applicationContext-product.xml"/>

</beans>